body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background: #ffffff;
    color: #212B31;
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-nav{ 
    padding: 15px 15px;
    background: linear-gradient(180deg, #151347 5.11%, #383473 45.31%, #100E40 100%);
    margin-bottom: -16.1px;
}
.img_bas{
    width: 135px;
}
.nav_info{
    display: flex;
    justify-content: space-between;
}
.form_bas{
    width: 335%;
    background: #fff;
}
.form{
    margin: 0 auto  !important;
    width: 50% !important;
 }
 .search-nav input{
    width: 400px;
 }
 .search-nav, 
.search-btn{
    background-color: rgba(202, 204, 205, 0.192);
    outline: none;
    border: 0.5px solid rgba(144, 144, 144, 0.162);
    color: rgb(212, 212, 212);
    
    border-radius: 20px;

}
.search-nav:hover, 
.search-btn:hover{
    color: rgb(212, 212, 212);

}
.search-nav{
  width: 900px;
  padding: 0px 20px;
}
.icon{
    font-size: 35px;
    padding: 0 15px;
    color: #fff;
}
.loader {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 8s linear infinite;
  }
    .loader::after,
    .loader::before {
      content: '';
      width: 10px;
      height: 1px;
      background: #FFF;
      position: absolute;
      top: 9px;
      right: -2px;
      opacity: 0;
      transform: rotate(-45deg) translateX(0px);
      box-sizing: border-box;
      animation: coli1 0.3s linear infinite;
    }
    .loader::before {
      top: -4px;
      transform: rotate(45deg);
      animation: coli2 0.3s linear infinite;
    }
  
  @keyframes animFw {
      0% {
    width: 0;
  }
      100% {
    width: 100%;
  }
    }
  
  @keyframes coli1 {
      0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
      100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
    }
  
  @keyframes coli2 {
      0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
      100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
    }
    
.block{
  background-image: url(../img/foon.png);
  background-size: cover;
  margin-top: -7px;
  padding: 8% 10%;
}
.block-card{
  background-image: url(../img/foon.png);
  background-size: cover;
}
.title{
   
    font-size: 60px;
    color: #d9e1e1;
    margin-bottom: 30px;
}
.ff{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loader-text{
  display: none;
}
.loader-text {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
.card{
  border-radius: 20px;
  border: solid #ffffff0a;
  background: #ffffff06;
  color: #fff;
  padding: 40px;
}
.input{
  width: 100%;
  height: 50px;
  border-radius: 14px;
  padding: 0 15px;
  border: solid #ffffff17;
  background: #ffffff17;
  color: #fff;
  margin-bottom: 25px;
}
.input1{
  width: 255%;
  height: 50px;
  border-radius: 14px;
  padding: 0 15px;
  border: solid #ffffff17;
  background: #ffffff17;
  color: #fff;
  margin-bottom: 25px;
}
.textarea{
  width: 255%;
  height: 50px;
  border-radius: 14px;
  padding: 15px;
  border: solid #ffffff17;
  background: #ffffff17;
  color: #fff;
  margin-bottom: 50px;
}
.title1{
  font-size: 42px;
  color: #d9e1e1;
  margin-bottom: 60px;
}
.action{
  width: 35%;
}
.img-head{
  padding: 0;
  width: 395px;
  height: 395px;
}
.img-line{
  background: url(../img/line.png) no-repeat;
}
.btn-send{
  text-align: end;
  color: #FFF;
  background-color: #C79C02;
  border-radius: 10px;
  padding: 10px;
}
.footeer{
  display: flex;
  justify-content: space-evenly;
}
.footer{
  background-color: #100E40;
  color: #fff;
  padding: 60px 0 15px 0;
}
.img-footer{
  width: 205px;
  height: 55px;
}
.footer-title{
  font-size: 37px;
}
.footer-text{
  font-size: 17px;
}
.footer-text:hover{
  color: #C79C02;
}
.footer-2{
  background-color: #0b0a2c;
  color: #fff;
  text-align: end;
  padding: 15px;
}
.icons{
  font-size: 30px;
  margin-left: 14px;
}
.footer_icons{
  padding: 0 10px;
}
.footer_icons:hover{
  color: #dbad08;
}
.loader-img{
  display: none;
}
.loader-img {
  position: relative;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  border: 8px solid #131a1d;
  overflow: hidden;
  box-sizing: border-box;
}
.loader-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #263238 ;
  z-index: 5;
  border-bottom: 8px solid #131a1d;
  box-sizing: border-box;
  animation: eyeShade 3s infinite;
}
.loader-img::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 15px;
  width: 32px;
  z-index: 2;
  height: 32px;
  background: #111;
  border-radius: 50%;
  animation: eyeMove 3s infinite;
}
@keyframes eyeShade {
  0%   { transform: translateY(0)}
  20%   { transform: translateY(5px)}
  40% , 50%   { transform: translateY(-5px)}
  60%   { transform: translateY( -8px)}
  75%   { transform: translateY( 5px)}
  100%   { transform: translateY(10px)}
}
@keyframes eyeMove {
  0%   { transform: translate(0 , 0)}
  20%   { transform: translate(0px , 5px)}
  40% , 50%   { transform: translate(0px , -5px)}
  60%   { transform: translate(-10px , -5px)}
  75%   { transform: translate(-20px , 5px)}
  100%   { transform: translate(0 , 10px)}
}