<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style_main.css">
    <link rel="stylesheet" href="../static/css/media_main.css">
</head>
<body>
   <nav class="nav container-nav">
        <div class="nav_info container">
            <a href="../templates/main.html"><img class="img_bas" src="../static/img/BAS.kg.png" alt=""></a>
            <form action="" method="GET">
                <div class="d-flex search">
                    <input class="search-nav border bg-white" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn search-btn  border bg-white"  type="submit">
                         <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </button>
                </div>
            </form>
            <div class="">
                <i class="fa-sharp fa-solid fa-location-dot fa-bounce icon"></i>
                <i class="fa-sharp fa-solid fa-globe icon"></i>
            </div>
        </div>
    </nav>
    <span class="loader"></span>
    <section id="slider_bl">
        <div class="wrapper">
          <input checked type=radio name="slider" id="slide1" />
          <input type=radio name="slider" id="slide2" />
          <input type=radio name="slider" id="slide3" />
          <input type=radio name="slider" id="slide4" />
          <div class="slider-wrapper">
            <div class=inner>
              <article>
                <img src="../static/img/bas.img1.png" />
              </article>
              <article>
                <img src="../static/img/bas.img2.png" />
              </article>
              <article>
                <img src="" />
              </article>
              <article>
                <img src="" />
              </article>
            </div>
          </div>
          <div class="slider-prev-next-control">
            <label for=slide1></label>
            <label for=slide2></label>
            <label for=slide3></label>
            <label for=slide4></label>
          </div>
          <div class="slider-dot-control">
            <label for=slide1></label>
            <label for=slide2></label>
            <label for=slide3></label>
            <label for=slide4></label>
          </div>
        </div>
    </section>
    <div class="about_krerdit_zakazat_bag">
      <div class="container">
        <div class="about_krerdit_zakazat_block">
          <div class="zakazt">
            <span class="loaderrr"></span>
            <h3 class="zakazt_title">Заказать карту</h3>
            <p class="zakazt_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, illum dolore. Asperiores</p>
            <a class="zakazt_btn" href="#">Заказать</a>
          </div>
          
          <div class="zakazt aboutt">
            <span class="loaderr"></span>
                        <h3 class="zakazt_title">О нас </h3>
            <p class="zakazt_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, illum dolore. Asperiores</p>
            <a class="zakazt_btn" href="../templates/about.html">Перейти</a>
          </div>
          <div class="zakazt kredit">
            <span class="loaderrrrr"></span>
            <h3 class="zakazt_title">Кредит</h3>
            <p class="zakazt_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, illum dolore. Asperiores</p>
            <a class="zakazt_btn" href="#">Подробнее</a>
          </div>
        </div>
      </div>

    </div>
    <section class="currencies_questions_bag">
        <div class="container currencies_questions_info">
            <div class="currencies">
                <h3 class="currencies_title">Курсы валют</h3>
                <div class="currencies_df">
                    <h5 class="currency">Валюта</h5>
                    <h5 class="currency">Покупка</h5>
                    <h5 class="currency">Продажа</h5>
                    <h5 class="currency1">НБКР</h5>
                </div>
               <div class="gj">
                <div class="img">
                  <img src="../static/img/america.png" class="img" alt="">
                  <img src="../static/img/russia'.png" class="img" alt="">
                  <img src="../static/img/kazak.png" class="img" alt="">
                </div>
                  <div class="">
                    <p class="p">lorem</p>
                    <p class="p">lorem</p>
                    <p class="p">lorem</p>
                  </div>
                  <div class="">
                    <p class="p">lorem</p>
                    <p class="p">lorem</p>
                    <p class="p">lorem</p>
                  </div>
                  <div class="">
                    <p class="p">lorem</p>
                    <p class="p">lorem</p>
                    <p class="p">lorem</p>
                  </div>
               </div> 
              
             
            </div>
                <div class="currencies1">
                    <h2 class="Frequently_Questions_questions">Часто  задаваемые вопросы</h2>
                    <a class="ask" href="../templates/question.html">задавать</a>
                </div>
            </div>
        </div>
    </section>
    <div class="deposits_bag ">
      <div class="container">
        <div class="deposits_block">
          <img src="../static/img/bkl.png" class="img_bkl" alt="">
          <div class="deposit">
              <h2 class="ss">Депозиты %</h2>
              <div class="info">
            <img src="../static/img/iconsss_dep.png" alt="">
                  <h4 class="nn">Депозиты</h4>
                  <p>Ваши деньги будут лежать на <br> вашем биржевом депозите,<br>
                      и доступ к нему имеете <br>
                      только вы</p>
              </div>
          </div>
      </div>
      <div class="Never_miss_update">
        <h3 class="Never_title">Никогда не пропускайте обновления</h3>
        <p class="Never_text">Подпишитесь на информационный бюллетень и будьте первым, кто получит новейшие оповещения, объявления и обновления о разработках BTCA.</p>
        <form action="" method="POST">
          <input type="text" class="e-mail"  placeholder="Ваш e-mail">
          <button type="submit" class="emm"><a href="">Подписаться</a></button>
         
        </form>
      </div>
      </div>
    
    </div>
    <div class="footer">
      <footer class="footeer">
          <div class="d-flex">
              <div>
                  <img src="../static/img/BAS.kg.png" alt="" class="img-footer">
              </div>
              <span class="loader-img"></span>
          </div>
          
          <div>
              <h3 class="footer-title">lorem</h3>
              <p class="footer-text">Lorem</p>
              <p class="footer-text">Suscipit</p>
              <p class="footer-text">Dignissimos</p>
              <p class="footer-text">Dolorum</p>
              <p class="footer-text">Architecto</p>
          </div>
          <div>
              <h3 class="footer-title">lorem</h3>
              <p class="footer-text">Lorem</p>
              <p class="footer-text">Suscipit</p>
              <p class="footer-text">Dignissimos</p>
              <p class="footer-text">Dolorum</p>
              <p class="footer-text">Architecto</p>
          </div>
          <div>
              <h3 class="footer-title">lorem</h3>
              <p class="footer-text">Lorem</p>
              <p class="footer-text">Suscipit</p>
              <p class="footer-text">Dignissimos</p>
              <p class="footer-text">Dolorum</p>
              <p class="footer-text">Architecto</p>
          </div>
      </footer>
  </div>
  <footer class="footer-2">
      <div class="icons">
          <a href="#"><i class="fa-brands fa-facebook  footer_icons"></i></a>
          <a href="#"><i class="fa-brands fa-whatsapp footer_icons"></i></a>
          <a href="#"><i class="fa-brands fa-instagram footer_icons"></i></a>
          <a href="#"><i class="fa-brands fa-telegram footer_icons"></i></a>
      </div>
  </footer>
</body>
</html>